body {
    background-color: rgb(59, 32, 32);
}

.demo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* height: 30vh; */
}

.demo-grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 3px;
    row-gap: 3px;
}

.square {
    width: 30px;
    height: 30px;
    background-color: red;
}

h1 {
    text-align: center;
}

.demo-card {
    margin: auto;
    width: 30%;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #9D6341;
    text-align: center;
    margin-bottom: 50px;
}

.path-test {
    position: relative;
    outline: 3px solid black;
    background-color: #9D6341;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    /* margin: auto; */
    
}

#emoji {
    font-size: 50px;
    position: absolute;
    top: -1465px;
    left: -1408px;
}

#demo-draw path {
    stroke-dasharray: 90;
    stroke-dashoffset: -90;
}

#dots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 94px;
    row-gap: 94px;
    width: fit-content;
    position: absolute;
    top: 37px;
    left: 35px;
}

.dot {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    opacity: 0.5;
    /* outline: 3px solid red; */
    /* margin: 0; */
    /* padding: 0; */
}